.exit-popup{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-out .6s;
    z-index: 2000;
    overflow: auto;
}

/*BOOTSTRAP OVERRIDE*/
.modal.exit-popup{
    width: 100%;
    top: unset;
    right: unset;
    bottom: unset;
    height: unset;
}

.modal .modal-dialog{margin: 0 auto;}

/*POSITIONS*/
.exit-popup.top{ top: 0; }

.exit-popup.center{ top: 50%; }

.exit-popup.bottom{
    transform: translate(-50%, 0);
    bottom: 0;
}

/*Show and Hide*/
.showDown,
.showUp{opacity: 1;}

.hideUp,
.hideDown{opacity: 0;}


.top.showDown{transform: translate(-50%, 0)}
.top.hideUp{transform: translate(-50%, -100%)}

.center.showDown{transform: translate(-50%, -50%);}
.center.hideUp{transform: translate(-50%, -200%);}

.bottom.showUp{bottom: 0}
.bottom.hideDown{bottom: -100%;}

/*BACKDROP*/
.exit-popup-backdrop{
    opacity: 0;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90,90,90,.6);
    z-index: 1000;
}

@keyframes fade-in {
    from{opacity: 0;}
    to{opacity: 1;}
}

/*CLOSE BUTTON*/
.exit-popup-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: #555;
    background-color: transparent;
    border: none;
}

.exit-popup-close:hover{
    cursor: pointer;
}